@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}


header{
    height: 873px;
}

/*button components*/
.button{
    @apply rounded-lg bg-orange text-2xl h-16 w-64 flex flex-row items-center justify-center;
    transition: filter .5s;
}
.button a{
    @apply font-montserrat text-xl font-semibold text-white uppercase font-bold;
}
.button:hover{
    filter: brightness(90%);
}

.button.button--call{
    @apply border-orange border h-12 w-64 justify-evenly ;
    background: none;
}
.button.button--call:hover *{
    @apply text-white cursor-pointer
}
.button.button--call img{
    @apply h-6 w-6;
}
.button.button--call a{
    @apply text-orange font-semibold text-base;
}

/*form submit btn*/
.button.button--submit{
    @apply border-none bg-green w-full text-white font-semibold text-2xl uppercase;
}

/*custom width*/
.m-w-430px{
    max-width: 430px;
}

.m-w-980px{
    max-width: 980px;
}

.wi-866px{
    width: 616px;
}
.w-176px{
    width: 176px;
}
.m-w-478px{
    max-width: 478px;
}

.w-775px{
    width: 775px;
}

/*custom height*/
.h-420px{
    height: 420px;
}
/*contact us card*/

.contact-us img{
    width: 578px;
}
.book-your-demo img{
    width: 480px;
}
.hire-a-tutorimg{
    width: 293px;
}
.w-693px{
    width: 693px;
}

/*section mockup*/
.mockup{
    height: 983px;
}
.mockup img{
    width: 1064px;
}

/*section formule*/
.formul-grid-row{
    margin-top: 16px;
    display: grid;
    text-align: center;
    grid-template-columns: 2fr 2fr 1fr 1fr;

}

/*contact form*/
input::placeholder{
    color: #707070;
}

.drop-shadow{
    box-shadow: 4px 6px 35px 5px rgba(149,149,149,0.43);
    -webkit-box-shadow: 4px 6px 35px 5px rgba(149,149,149,0.43);
    -moz-box-shadow: 4px 6px 35px 5px rgba(149,149,149,0.43);
}

.border-left{
    border-left: 1px solid #707070;
}